body {
  font-size: 24pt;
  font-family: Ubuntu, roboto, noto, segoe ui, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b6e438;
  color: #333;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
  margin: 1em;
  padding: 1em;
}

#note-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20em;
}

#note-form input {
  font-size: 30px;
  padding: 0.5em;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
}

input#media-file {
  padding-left: 0;
  border-width: 0;
}


#note-form section {
  margin-bottom: 1em;
  background-color: hsla(0, 0%, 0%, 0.02);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#note-form section h4:first-child {
  margin-top: 0;
}

#note-form li {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}

#note-form h3 {
  font-weight: 200;
}

#note-form h4 {
  font-weight: 200;
  margin-bottom: 0.5em;
}

#note-form h5 {
  font-weight: 200;
  margin-bottom: 0.5em;
}


#note-form textarea {
  font-family: Georgia, serif;
  background-color: white;
  font-size: 30px;
  padding: 0.5em;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  margin-bottom: 0.5em;
  height: 10em;
}

#note-form .remove-element-button {
  cursor: pointer;
  margin-left: 0.5em;
}

#image-controls {
  display: flex;
  flex-direction: column;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

canvas {
  border: 1px solid black;
}

.bottom-space {
  height: 10em;
}

.progress-message {
  animation: glow 2s infinite;
  color: #b6e438;
  background-color: #222;
  text-align: center;
  border-radius: 0.25em;
  font-size: 2em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
}

@keyframes glow {
  0% { box-shadow: #222 0 0 2px; text-shadow: #b6e438 0 0 2px; }
  33% { box-shadow: #222 0 0 20px; text-shadow: #b6e438 0 0 20px; }
  50% { box-shadow: #222 0 0 25px; text-shadow: #b6e438 0 0 25px; }
  67% { box-shadow: #222 0 0 20px; text-shadow: #b6e438 0 0 20px; }
  100% { box-shadow: #222 0 0 2px; text-shadow: #b6e438 0 0 2px; }
}

#results-container {
  width: 80%;
  max-width: 800px;
}

/* Results styling */

a:link, a:visited, a:active {
  color: #333;
  font-family: futura, Ubuntu, roboto, noto, segoe ui, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
}

.time-stamp {
  margin-bottom: 1em;
}

.media {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  font-weight: bold;
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: 1em;
  font-weight: normal;
}

.time-stamp {
  margin-bottom: 1em;
}

.pane video {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.media-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 20em; */
  padding: 0;
}

.media-list .pane {
  margin-bottom: 1em;
  background-color: hsla(0, 0%, 0%, 0.05);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.pane img {
  width: 100%;
  height: auto;
  image-orientation: from-image;
  object-fit: contain;
}

.media-list .pane h4:first-child {
  margin-top: 0;
}

.media-list li {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}

.media-list h3 {
  font-weight: 200;
}

.media-list h4 {
  font-weight: 200;
  margin-bottom: 0.5em;
}

footer {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer > div {
  margin-bottom: 1em;
}

.previous-indexes {
  margin-bottom: 2em;
  font-size: 1.5em;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }

  .media-list section {
    padding: 0.5em;
  }

  .media-list input {
    font-size: 18px;
  }

  .media-list textarea {
    font-size: 18px;
  }
}
